<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    {% block content %}
    <title>MED360 | Login</title>
    <script src="{{ url_for('static',filename='js/fa.js') }}"></script>
    <link href="{{ url_for('static',filename='css/neumorphic_login.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static',filename='css/bulma.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static',filename='css/nunito-google.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static',filename='css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
</head>

<body class="hero is-widescreen">
<section class="hero is-fullheight">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="container is-fluid">
        <br>
        <div class="notification is-danger is-pulled-right" style="width:25%;">
            <button class="delete"></button>
            {% for message in messages %}
            <strong>{{ message }}</strong>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    {% endwith %}
    <div class="container hero-body has-text-centered">
        <div class="login">
            <img src="{{url_for('static', filename='med.png')}}" width="325px"/>
            <form action="" method="POST">
                {{form.hidden_tag()}}
                <div class="field">
                    <div class="control">
                        {{form.uname(class_="input is-medium is-rounded")}}
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        {{form.passw(class_="input is-medium is-rounded")}}
                    </div>
                </div>
                <div class="showpassw level" style="float:left">
                    <i aria-hidden="true" class="fa fa-eye" id="pass-status" onClick="viewPassword()">
                        <a style="text-decoration:none;color:black">Show Password</a>
                    </i>
                </div>
                <br><br>
                <button class="button is-block is-fullwidth is-primary is-medium is-rounded" type="submit">
                    Login
                </button>
            </form>
            <br>
            <nav class="level">

                <div class="level-item has-text-centered">
                    <div>
                        <a href="{{url_for('reset_password') }}">Forgot Password?</a>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <a href="{{url_for('register') }}">Create an Account</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</section>
{% endblock %}
</body>
<script>
		function viewPassword()
		{
		  var passwordInput = document.getElementById('passw');
		  var passStatus = document.getElementById('pass-status');

		  if (passwordInput.type == 'password'){
			passwordInput.type='text';
			passStatus.className='fa fa-eye-slash';

		  }
		  else{
			passwordInput.type='password';
			passStatus.className='fa fa-eye';
		  }
		}

		document.addEventListener('DOMContentLoaded', () => {
		  (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
			$notification = $delete.parentNode;

			$delete.addEventListener('click', () => {
			  $notification.parentNode.removeChild($notification);
			});
		  });
		});

</script>
</html>