<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" rel="stylesheet">
    <title>Register | Med360</title>
    <!-- Latest compiled and minified CSS -->
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" rel="stylesheet">

    <!-- Optional theme -->
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row" style="margin-top: 40px">
        <div class="col-sm-6">
            {% block head %}
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                <div class="message_flash">{{ message }}</div>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
            {% endblock %}
            <form method="POST">
                <div class="form-group">
                    <label for="name">Name : </label>
                    <input class="form-control" id="name" name="name" required type="text">
                </div>
                <div class="form-group">
                    <label for="email">Username : </label>
                    <input class="form-control" id="uname" name="uname" required type="text">
                </div>
                <div class="form-group">
                    <label for="email">Email : </label>
                    <input class="form-control" id="mail" name="mail" required type="email">
                </div>
                <div class="form-group">
                    <label for="mobile">Mobile Number : </label>
                    <input class="form-control" id="mobile" minlength="10" name="mobile" required type="number">
                </div>
                <div class="form-group">
                    <label for="email">Password : </label>
                    <input class="form-control" id="passw" minlength="6" name="passw" required type="password">
                </div>
                <div class="form-group">
                    <label for="dob">Date of Birth : </label>
                    <input class="form-control" id="dob" name="dob" required type="date">
                </div>
                <div class="form-group">
                    <label for="sex">Sex : </label>
                    <select class="form-control" id="sex" name="sex" required>
                        <option value='Male'>Male</option>
                        <option value='Female'>Female</option>
                        <option value='Other'>Other</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="bld_grp">Blood Group : </label>
                    <input class="form-control" id="bld_grp" name="bld_grp" required type="text">
                </div>
                <div class="form-group">
                    <label for="addr">Address : </label>
                    <input class="form-control" id="addr" name="addr" required type="text">
                </div>
                <div class="form-group">
                    <label for="state">State: </label><!--list options-->
                    <input class="form-control" id="state" maxlength="20" name="state" required type="text">
                </div>
                <div class="form-group">
                    <label for="pincode">Pincode : </label>
                    <input class="form-control" id="pincode" maxlength="7" name="pincode" required type="number">
                </div>
                <div class="form-group">
                    <label for="pan">PAN Number : </label>
                    <input class="form-control" id="pan" maxlength="10" name="pan" required type="text">
                </div>
                <div class="form-group">
                    <label for="aadhar">Aadhar Number : </label>
                    <input class="form-control" id="aadhar" name="aadhar" required type="number">
                </div>
                <div class="form-group">
                    <label for="organ_donation">Organ Donor : </label>
                    <select class="form-control" id="organ_donation" name="organ_donation" required>
                        <option value='True'>Yes</option>
                        <option value='False'>No</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="bld_donation">Blood Donor : </label>
                    <select class="form-control" id="bld_donation" name="bld_donation" required>
                        <option value='True'>Yes</option>
                        <option value='False'>No</option>
                    </select>
                </div>
                <button class="btn form-control btn-default" type="submit">Register</button>
            </form>
        </div>
    </div>
</div>


<!-- Latest compiled and minified JavaScript -->
<script crossorigin="anonymous" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>