<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    {% block content %}
    <title>MED360 | Seach Hospital</title>
    <script src="{{ url_for('static',filename='js/fa.js') }}"></script>
    <link href="{{ url_for('static',filename='css/neumorphic_login.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static',filename='css/bulma.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static',filename='css/nunito-google.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static',filename='css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
</head>
<style>
    .control.has-icons-left .icon.is-left, .control.has-icons-right .icon.is-right {
        color:#666666
    }
    html, body {margin: 0; height: 100%; overflow: hidden}

</style>
<body class="hero is-widescreen">
<div id="body">
    <nav aria-label="main navigation" class="hero-navbar login level" role="navigation">
        <div class="navbar-brand level-left">
            <a class="navbar-item level-item" href="{{ url_for('index') }}">
                <img alt="MED360" height="28" src="{{url_for('static', filename='med.png')}}" width="112">
            </a>
            <a aria-expanded="false" aria-label="menu" class="navbar-burger burger" data-target="navbarBasicExample"
               role="button">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div class="navbar-menu level-right" id="navbarBasicExample">
            <div class="navbar-start level-item">
                <a class="navbar-item" href="{{url_for('search') }}">
                    Search Hospitals
                </a>
                <a class="navbar-item" href="{{url_for('search_hospital') }}">
                    Advanced Search Hospitals
                </a>
                <a class="navbar-item" href="{{url_for('search_blood_donor')}}">
                    Search Blood Donor
                </a>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        More
                    </a>

                    <div class="navbar-dropdown">
                        <a class="navbar-item">
                            About
                        </a>
                        <a class="navbar-item">
                            Jobs
                        </a>
                        <a class="navbar-item">
                            Contact
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item">
                            Report an issue
                        </a>
                    </div>
                </div>
            </div>
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-primary" href="{{ url_for('view_profile') }}">
                            <strong>My Profile</strong>
                        </a>
                        <a class="button is-light" href="{{url_for('logout') }}">
                            Logout
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>
<section class="hero is-fullheight">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="container is-fluid">
        <br>
        <div class="notification is-danger is-pulled-right" style="width:25%;">
            <button class="delete"></button>
            {% for message in messages %}
            <strong>{{ message }}</strong>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    {% endwith %}
    <div class="container hero-body has-text-centered">
        <div class="login">
            <form action="" method="POST">
                {{form.hidden_tag()}}
                <div class="field is-mobile">
                    <section class="hero">
                        <div class="hero-body">
                            <div class="container has-text-centered">
                                <h1 class="title">
                                    <span class="icon"><em class="fa fa-search"></em></span>&nbsp Hospital
                                </h1>
                            </div>
                        </div>
                    </section>
                    <div class="columns row-one ">
                        <div class="column">
                            <div class="field has-addons has-addons-left">
                                <div class="control is-one-fifth has-icons-right">
                                    {{ form.state(class_="input is-rounded is-one-fifth", style='background:#D9DDE6') }}
                                    <span class="icon is-right"><em class="fa">chevron-down</em></span>
                                </div>
                                <div class="control is-one-fifth has-icons-right">
                                    {{ form.city(class_="input is-rounded is-one-fifth", style='background:#D9DDE6') }}
                                    <span class="icon is-right"><em class="fa">chevron-down</em></span>
                                </div>
                                <div class="control is-one-fifth has-icons-right">
                                    {{ form.spec(class_="input is-rounded is-one-fifth", style='background:#D9DDE6') }}
                                    <span class="icon is-right"><em class="fa">chevron-down</em></span>
                                </div>
                                <div class="control is-one-fifth is-rounded has-icons-right">
                                    {{ form.scheme(class_="input is-rounded is-one-fifth", style='background:#D9DDE6')
                                    }}
                                    <span class="icon is-right"><em class="fa">chevron-down</em></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="button is-primary is-rounded is-medium" type="submit">
                        Search
                    </button>
                </div>
            </form>
            <br>
        </div>
    </div>
</section>
{% endblock %}
</body>
<script>
        let state_select = document.getElementById('state')
        let city_select = document.getElementById('city')
        state_select.onchange= function(){
            state = state_select.value;
            fetch('/city/'+state).then(function(response){
                response.json().then(function(data){
                    let optionHTML = '';
                    for (city of data.cities){
                        optionHTML += '<option value="'+city.id+'">'+city.name+'</option>';
                    }
                    city_select.innerHTML = optionHTML;
                });
            });
        }
        window.onload = function(){
            state = state_select.value;
                    let optionHTML = '';
                    optionHTML += '<option value="None">Districts</option>';
                    city_select.innerHTML = optionHTML;
        }
		document.addEventListener('DOMContentLoaded', () => {
		  (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
			$notification = $delete.parentNode;
			$delete.addEventListener('click', () => {
			  $notification.parentNode.removeChild($notification);
			  location = location
			});
		  });
		});

</script>
</html>