<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css" rel="stylesheet">

    <link href="https://www.w3schools.com/w3css/4/w3.css" rel="stylesheet">

    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/navbar.css') }}" rel="stylesheet" type="text/css">
    <style>
    @import url(https://fonts.googleapis.com/css?family=Open+Sans);



    .search {
      width: 100%;
      position: relative;
      display: flex;
    }

    .searchTerm {
      width: 100%;
      border: 3px solid #00B4CC;
      border-right: none;
      padding: 5px;
      height: 20px;
      border-radius: 5px 0 0 5px;
      outline: none;
      color: #9DBFAF;
    }

    .searchTerm:focus{
      color: #00B4CC;
    }



    /*Resize the wrap to see the search bar change!*/
    .wrap{
      width: 30%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    </style>
    <title>MED360 | Results for {{searchterm}} </title>
</head>
<body>
<div id="body">
    <nav aria-label="main navigation" class="navbar" role="navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{ url_for('index') }}">
                <img height="28" src="{{url_for('static', filename='logo_small.PNG')}}" width="112">
            </a>

            <a aria-expanded="false" aria-label="menu" class="navbar-burger burger" data-target="navbarBasicExample"
               role="button">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div class="navbar-menu" id="navbarBasicExample">
            <div class="navbar-start">
                <a class="navbar-item" href="{{url_for('search_hospital') }}">
                    Search Hospitals
                </a>
                <a class="navbar-item" href="{{url_for('search_blood_donor')}}">
                    Search Blood Donor
                </a>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        More
                    </a>

                    <div class="navbar-dropdown">
                        <a class="navbar-item">
                            About
                        </a>
                        <a class="navbar-item">
                            Jobs
                        </a>
                        <a class="navbar-item">
                            Contact
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item">
                            Report an issue
                        </a>
                    </div>
                </div>
            </div>
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-primary" href="{{ url_for('view_profile') }}">
                            <strong>My Profile</strong>
                        </a>
                        <a class="button is-light" href="{{url_for('logout') }}">
                            Logout
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Hospital Name</th>
        <th>Address</th>
        <th>E-Mail</th>
        <th>Contact Number</th>
    </tr>
    </thead>
    <tbody>
    {% for item in data %}
    <tr>
        <td><a href={{url_for('hospital_details',hosp_id=encrypt(item.hosp_id|string()))}}>{{ item.hosp_name }}</a>
        </td>
        <td>{{ item.hosp_addr }}</td>
        <td>{{ item.hosp_contact_mail }}</td>
        <td>{{ item.hosp_contact_no }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</body>
<script>
    function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}



</script>
</html>