<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block content %}
    <title>MED360 | Update Profile</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css" rel="stylesheet">
    <script src="{{ url_for('static',filename='js/fa.js') }}"></script>
    <link href="{{ url_for('static',filename='css/neumorphic_login.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static',filename='css/bulma.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static',filename='css/nunito-google.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static',filename='css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <style>
		.column {
			padding-top: 0 !important;
			padding-bottom: 0 !important;
		}
		.row-one {
			padding-top: 13px;
		}
		form .field {
			margin: auto;
			max-width: 740px;
		}
		.control.has-icons-left .icon.is-left, .control.has-icons-right .icon.is-right {
            color:#666666
		}
		        .button {
          position: relative;
          background: #f3f0f1;
          margin-bottom: 25px;
          border-radius: 32px;
          text-align: center;
          cursor: pointer;
          transition: all 0.1s ease-in-out;
        }
         .button span {
          line-height: 100px;
          font-family: "Montserrat", sans-serif;
          font-size: 32px;
          font-weight: semibold;
        }
         .button:nth-child(1) {
          box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8), 6px 6px 10px rgba(0, 0, 0, 0.2);
        }
         .button:nth-child(1):hover {
          opacity: 0.3;
          box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8), 6px 6px 10px rgba(0, 0, 0, 0.2);
        }
         .button:nth-child(2) {
          box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8), 6px 6px 10px rgba(0, 0, 0, 0.2);
        }
         .button:nth-child(2):hover {
          opacity: 0.3;
          box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8), 6px 6px 10px rgba(0, 0, 0, 0.2);
        }
         .button:nth-child(1):active {
          opacity: 1;
          box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.5), inset 8px 8px 16px rgba(0, 0, 0, 0.1);
          color: #79e3b6;
        }
         .button:nth-child(2):active {
          opacity: 1;
          box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.5), inset 8px 8px 16px rgba(0, 0, 0, 0.1);
          color: #79e3b6;
        }

    </style>
    <script>
	  window.console = window.console || function(t) {};

    </script>
    <script>
	  if (document.location.search.match(/type=embed/gi)) {
		window.parent.postMessage("resize", "*");
	  }

    </script>
</head>
<body class="hero is-widescreen" translate="no">
<section id="body">
    <nav aria-label="main navigation" class="iis-fullheight hero-navbar login level" role="navigation">
        <div class="navbar-brand level-left">
            <a class="navbar-item level-item" href="{{ url_for('index') }}">
                <img alt="MED360" height="28" src="{{url_for('static', filename='med.png')}}" width="112">
            </a>
            <a aria-expanded="false" aria-label="menu" class="navbar-burger burger" data-target="navbarBasicExample"
               role="button">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div class="navbar-menu level-right" id="navbarBasicExample">
            <div class="navbar-start level-item">
                <a class="navbar-item" href="{{url_for('search') }}">
                    Search Hospitals
                </a>
                <a class="navbar-item" href="{{url_for('search_hospital') }}">
                    Advanced Search Hospitals
                </a>
                <a class="navbar-item" href="{{url_for('search_blood_donor')}}">
                    Search Blood Donor
                </a>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        More
                    </a>

                        <div class="navbar-dropdown">
                            <a class="navbar-item">
                                About
                            </a>
                            <a class="navbar-item">
                                Jobs
                            </a>
                            <a class="navbar-item">
                                Contact
                            </a>
                            <hr class="navbar-divider">
                            <a class="navbar-item">
                                Report an issue
                            </a>
                        </div>
                    </div>
                </div>
                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons">
                            <a class="button is-primary" href="{{ url_for('view_profile') }}">
                                <strong>My Profile</strong>
                            </a>
                            <a class="button is-light" href="{{url_for('logout') }}">
                                Logout
                            </a>
                        </div>
                    </div>
                </div>
        </div>
    </nav>
</section>
<div id="app">
    <section class="section">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="container is-fluid">
            <br>
            <div class="notification is-danger is-pulled-right" style="width:25%;">
                <button class="delete"></button>
                {% for message in messages %}
                <strong>{{ message }}</strong>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        {% endwith %}
        <div class="container login is-9">
            <div class="columns is-mobile is-centered">
                <img alt="MED360" src="{{url_for('static', filename='med.png')}}" width="325px"/>
            </div>
            <form action="" id="register-form" method="POST">
                {{form.hidden_tag()}}
                <div class="field">
                    <label class="label">Name</label>
                    <div class="control has-icons-left">
                        {{form.name(value=current_user.name, class_='input is-rounded')}}
                        <span class="icon is-left"><em class="fa">user</em></span>
                    </div>
                    <label class="label">Username</label>
                    <div class="control has-icons-left">
                        {{form.uname(value=current_user.username, class_='input is-rounded')}}
                        <span class="icon is-left" id="username_tick"><em class="fa fa-user-circle"></em></span>
                    </div>
                    <div class="columns row-one">
                        <div class="column">
                            <label class="label">Email</label>
                            <div class="control has-icons-left">
                                {{form.mail(value=current_user.email, class_='input is-rounded')}}
                                <span class="icon is-left"><em class="fa">envelope-square</em></span>
                            </div>
                        </div>
                        <div class="column">
                            <label class="label">Mobile</label>
                            <div class="control has-icons-left">
                                {{form.mobile(value=current_user.mobile, class_='input is-rounded')}}
                                <span class="icon is-left"><em class="fa fa-phone "></em></span>
                            </div>
                        </div>
                    </div>
                    <div class="columns row-one">
                        <div class="column">
                            <label class="label">Sex</label>
                            <div class="control has-icons-right">
                                {{form.sex(value=current_user.sex, class_='input is-rounded',
                                style='background:#D9DDE6')}}
                                <span class="icon is-right"><em class="fa">chevron-down</em></span>
                            </div>
                        </div>
                        <div class="column">
                            <label class="label">Blood Group</label>
                            <div class="control has-icons-right">
                                {{form.bld_grp(value=current_user.bld_grp, class_='input is-rounded',
                                style='background:#D9DDE6')}}
                                <span class="icon is-right"><em class="fa">chevron-down</em></span>
                            </div>
                        </div>
                    </div>
                    <div class="columns row-one">
                        <div class="column">
                            <label class="label">Date of Birth</label>
                            <div class="control">
                                {{form.dob(value=current_user.dob, class_='input is-rounded',
                                style='background:#D9DDE6')}}
                            </div>
                        </div>
                    </div>
                    <label class="label">Address</label>
                    <div class="control has-icons-left">
                        {{form.addr(value=current_user.addr, class_='input is-rounded')}}
                        <span class="icon is-left"><em class="fa fa-map-marker"></em></span>
                    </div>
                    <div class="columns row-one">
                        <div class="column">
                            <label class="label">State</label>
                            <div class="control has-icons-right">
                                {{form.state(value=current_user.addr, class_='input is-rounded',
                                style='background:#D9DDE6')}}
                                <span class="icon is-right"><em class="fa">chevron-down</em></span>
                            </div>
                        </div>
                        <div class="column">
                            <label class="label">City</label>
                            <div class="control has-icons-right">
                                {{form.city(value=current_user.city, class_='input is-rounded',
                                style='background:#D9DDE6')}}
                                <span class="icon is-right"><em class="fa">chevron-down</em></span>
                            </div>
                        </div>
                    </div>
                    <div class="columns row-one">
                        <div class="column">
                            <label class="label">Pincode</label>
                            <div class="control has-icons-left">
                                {{form.pincode(value=current_user.po_num, class_='input is-rounded')}}
                                <span class="icon is-left"><em class="fa">map-pin</em></span>
                            </div>
                        </div>
                        <div class="column">
                            <label class="label">Aadhaar</label>
                            <div class="control has-icons-left">
                                {{form.aadhar(value=current_user.aadhar, class_='input is-rounded')}}
                                <span class="icon is-left"><em class="fa">id-card</em></span>
                            </div>
                        </div>
                    </div>
                    <div class="columns row-one">
                        <div class="column">
                            <label class="label">Organ Donor</label>
                            <div class="control has-icons-left has-icons-right">
                                {{form.organ_donation(value=current_user.organ_donation, class_='input is-rounded',
                                style='background:#D9DDE6')}}
                                <span class="icon is-left"><em class="fa">heartbeat</em></span>
                                <span class="icon is-right"><em class="fa">chevron-down</em></span>
                            </div>
                        </div>
                        <div class="column">
                            <label class="label">Blood Donor</label>
                            <div class="control has-icons-left has-icons-right">
                                {{form.bld_donation(value=current_user.bld_donation, class_='input is-rounded',
                                style='background:#D9DDE6')}}
                                <span class="icon is-left"><em class="fa">tint</em></span>
                                <span class="icon is-right"><em class="fa">chevron-down</em></span>
                            </div>
                        </div>
                    </div>
                    <div class="is-medium is-centered">
                        <div class="control">
                            <button class="button is-link is-medium is-block is-fullwidth is-rounded" type="submit">
                                Login
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>
{% endblock %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>
        let state_select = document.getElementById('state')
        let city_select = document.getElementById('city')
        state_select.onchange = function(){
            state = state_select.value;
            fetch('/city/'+state).then(function(response){
                response.json().then(function(data){
                    let optionHTML = '';
                    for (city of data.cities){
                        optionHTML += '<option value="'+city.id+'">'+city.name+'</option>';
                    }
                    city_select.innerHTML = optionHTML;
                });
            });
        }

       let input = document.getElementById('uname');
       let fa_icon = document.getElementById('username_tick');
        var goodColor = "#66cc66";
        var badColor = "#ff6666";
       input.onkeyup = function() {
            fetch('/check/'+input.value).then(function(response){
                response.json().then(function(data){
                    if (data == false){
                        fa_icon.style.color = goodColor;
                        fa_icon.innerHTML = "<i class='fa fa-user-circle'>"
                    }else{
                        fa_icon.style.color = badColor;
                        fa_icon.innerHTML = "<i class='fa fa-times-circle'>"
                    }
                });
            });
            $.get('/check/' + input.value, function(data) {

            });
        };

		$('#conf_passw').on('keyup', function ()
		{
			var pass1 = document.getElementById('passw');
			var pass2 = document.getElementById('conf_passw');
			var message = document.getElementById('error-nwl');
			var goodColor = "#66cc66";
			var badColor = "#ff6666";

			if(pass1.value.length > 5)
			{
				pass1.style.backgroundColor = goodColor;
				message.style.color = goodColor;
				message.innerHTML = "character number ok!"
			}
			else
			{
				pass1.style.backgroundColor = badColor;
				message.style.color = badColor;
				message.innerHTML = " you have to enter at least 6 digit!"
				return;
			}

			if(pass1.value == pass2.value)
			{
				pass2.style.backgroundColor = goodColor;
				message.style.color = goodColor;
				message.innerHTML = "ok!"
			}
			else
			{
				pass2.style.backgroundColor = badColor;
				message.style.color = badColor;
				message.innerHTML = " These passwords don't match"
			}
		});

</script>
</body>
</html>
